{% extends 'flatpages/default.html' %}

{% block title %}
    Объявление - {{ post.title }}
{% endblock title %}

{% block content %}
    <div style="text-align: center;">
        <h2>{{ post.title }}</h2>
        <hr>
        <table align="center" style="width: 50%;">
            <tr>
                <td>{{ post.content|safe }}</td>
            </tr>
            <tr>
                <td>{{ post.dateCreation|date:'d F Y' }}</td>
            </tr>
        </table>

        {% if user.is_authenticated and user == post.postAuthor %}
            <a href="{% url 'post_update' pk=post.id %}">Изменить</a>
            <a href="{% url 'post_delete' pk=post.id %}">Удалить</a>
        {% endif %}
        {% if user.is_authenticated and user != post.postAuthor %}
            <a href="{% url 'add_response_to_post' pk=post.id %}">Оставить отклик</a>
        {% endif %}

        {% if user.is_authenticated %}
            <h4>Отклики пользователя</h4>
            {% for response in user.response_set.all %}
                <p>{{ response.text }} - {{ response.responsePost.title }} - {{ response.dateCreation|date:'d F Y' }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
